* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: 'Electrolize', sans-serif;
  background: 
  -webkit-linear-gradient(rgb(0, 0, 0), rgba(135, 60, 255, 0.0) 0%),
 -webkit-linear-gradient(25deg, rgb(0, 0, 0) 45%, rgb(0, 255, 64) 0%);
 background-repeat: no-repeat;
 position: fixed;
}

#card{
  background-color: transparent;
  border: none;
}

.btn{
  font-size: 55px;
  margin-left: -630px;
  margin-top: 60px;
  align-items: left;
  vertical-align: auto;
}

.fa-twitter{
  color: yellow;
}
.fa-facebook{
  color: yellow;
}

.para2{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
  margin-top: -550px;
  margin-left: 750px;
}
.para-res{
  display: none;
}
.heading {
  color: white;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px;
}

.sub-heading {
  color: white;
  font-size: 150px;
  margin-left: 25px;
  margin-top: 100px;
  text-align: left;
}

.para1{
  color: white;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 70px;
  text-align: left;
}

.image{
  margin-top: 0px;
  margin-left: 849px;
}

.button{
  position: relative;
  background-color: yellow;
  border: none;
  color: black;
  border-radius: 15px;
  padding: 17px 34px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}
.button:hover {
  transition-duration: 0.1s;
  background-color: #239421;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 15px;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgba(255, 255, 0, 0.44);
}

.button:active:after {
  box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.44);
  position: absolute;
  border-radius: 15px;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

.button2{
  background-color: transparent;
  border-bottom: 5px solid yellow;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;

  padding: 12px 34px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}

.read-more{
  color: yellow;
}

.navbar {
  margin-top: 0px;
  
}
.navbar-nav {
  margin-left: 750px;
}

.nav-link {
  font-size: 25px;
  color: black;
  margin-right: 50px;
}

.search {
  color: black;
  
}
@media only screen and (max-width: 600px) {
  body{
    background: black;
    color: black;
    position: relative;
  }
  .para2{
    display: none;
  }
  .fa-twitter{
    color: yellow;
    margin-left: 715px;

  }
  .fa-facebook{
    color: yellow;
    margin-left: 715px;
    margin-bottom: 20px;

  }
  .image{
    display: none;
  }
  .body{
    background-color: rgb(0, 0, 0);
  }
  .left{
    background: black;
    background-color: black;
  }
  .right{
    background: yellow;
    background-color: yellow;
    margin-top: 98px;
  }
  .para-res{
    display: block;
    margin-left: 24px;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 40px;
  }
  .nav-link {
    color: rgb(255, 255, 255);
    background-color: white;
  }
  .sub-heading{
    margin-top: 8px;
  }
  .navbar-collapse {
    
    color: white;
  }
}